*.o
install
*/install/

libusb/libusb-1.0.22/
openssl/openssl-1.1.1d/
libplist/libplist-2.0.0/
libusbmuxd/libusbmuxd-1.0.10/
libimobiledevice/libimobiledevice-1.2.0/
usbmuxd/usbmuxd-1.1.0/
libplist/libplist-2.1.0/
libusbmuxd/libusbmuxd-2.0.2/
libimobiledevice/libimobiledevice-1.2.1/
usbmuxd/usbmuxd-1.1.1/
zlib/zlib-1.2.11/
openssh/openssh-8.2p1/
wireless/wireless_tools.29/
wpa/wpa_supplicant-2.9/
libnl/libnl-3.2.25/
hostapd/hostapd-2.9/
ntp/ntp-4.2.8p14/
